.button{
    padding: 18px 30px;
    border-radius: 69px;
    color: white;
    border: none;
    background-color: blueviolet;

    @include fluid-text(12, 20);
    @include hover{
        background-color: rgb(53, 109, 230) 
    }
}